<div class="left-col">
  <div class="col-box">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <img class="dp" src="{{ "/dp.jpg" | relative_url }}" />
      <p class="site-description">{{site.description}}</p>
      <p>Currently studying a Diploma of Software Development.</p>
      <p>Contributor to and member of <a href="http://openlivewriter.org">Open Live Writer</a>.</p>
      <hr/>
      <h3>me elsewhere</h3>
      <ul>
        <li><a href="https://twitter.com/nvella_">Twitter</a> (@nvella_)</li>
        <li><a href="https://github.com/nvella">GitHub</a> (@nvella)</li>
      </ul>
      <p>electronic mail:<br>nick [at] nxk [dot] io</p>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>

  <div class="col-box">
      <h3>Like what I do?</h3>
      <p>All of my work on open-source software occurs in my free time. If you'd like to support my work, <a href="https://paypal.me/nickvella0">you can donate through PayPal.</a></p>
  </div>
</div>
