body {
    background: #DA4453;  /* fallback for old browsers */   
    background: linear-gradient(to top, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;

    font-family: 'Consolas', monospace;
    font-size: 13px;
}

img { 
    max-width:100%;
    width: auto;
    height: auto;
}

.mobile-only {
    display: none !important;
}

.site-title {
    font-size: 16pt;
    font-weight: bold;
    padding-bottom: 20px;
    display: inline-block;
    text-transform: lowercase;
}

.site-description {
    margin-left: 10px;
    font-style: italic;
}

.dp {
    width: 75%;
    display: inline-block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.left-col {
    display: inline-block;
    float: left;
    width: 200px;
    margin-right: 20px;
}   

.main-col {
    display: inline-block;
    width: 570px;
    box-sizing: border-box;
    margin-right: 10px;
}

.col-box {
    width: 100%;

    background-color: rgba(255, 225, 236, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(10, 10, 10, 0.6);
    box-sizing: border-box;
    display: inline-block;

    padding: 10px;
    margin-bottom: 20px;
}

.nav {
    margin-bottom: 20px;
}

.nav > ul {
    box-sizing: border-box;
    display: inline;
    padding: 0;
}

.nav > ul > li {
    display: inline;
    text-transform: lowercase;
}

.nav > ul > li:not(:last-child):after {
    content: " | ";    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: lowercase;
}

.post-list {
    display: block;
    padding: 0;
}

.post-list > li {
    display: block;
    padding: 0;
    margin-bottom: 10px;
}

.post-tags {
    font-style: italic;
}

.post-archive {
    margin-top: 10px;
}

.buttons > h3 {
    margin-bottom: 8px;
}

.buttons > img, .buttons > a > img {
    float: left;
    padding: 0;
    margin: 0;
}

@import "mobile";