<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="col-box">
      <p><em>I've moved my blog and am no longer publishing to GitHub Pages.</em> I've decided it's time for change. If you're reading this meassage, you're most likely viewing my old blog on nvella.github.io. I have since moved to WordPress.com to make it easier for me to blog. No hard feelings against static sites! I've just decided I want to try something simpler. Find my new site my same personal domain - <a href="https://nxk.io">nxk.io</a> </p>
    </div>
    
    <div class="container">
      {%- include left-col.html -%}

      <div class="main-col">
        {%- include nav.html -%}

        <main class="col-box" aria-label="Content">
          {{ content }}
        </main>
      </class>
    </div>
  </body>
</html>
